<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
</head>
<body class="container">

<header>
    <%- include('../partials/header'); %>
</header>
<main>
    <div class="alert alert-warning" role="alert">
        An idiot is making this. It's still a work-in-progress.
    </div>
    <div class="jumbotron">
        
        <h1>VISMU <small class="text-muted">Visualizing your <i>RateYourMusic</i> scores</small></h1>
        <p>Generate satisfying & interactable charts based on your RYM scores.</p>
    </div>
</main>


<footer>
    <%- include('../partials/footer'); %>
</footer>

</body>
</html>